@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

.container {
  display: flex;
}
.header {
  background-color: yellow;
}

.followers-column {
  background-color: red;
  width: 500px;
  height: 800px;
}

.feed {
  background-color: white;
  width: 500px;
}

.suggested-box {
  width: 400px;
  height: 400px;
}

.flex {
  display: flex
}

.follow-button {
  margin-left: 10px;
}
