// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding-top: 80px;
}

.hello {
    padding: 30px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.App {
  text-align: center;
}

.container {
  display: flex;
}

.row {
  justify-content: center;
}

.your-follows {
  margin-right: 20px;
}

.feed {
  background-color: white;
  width: 500px;
}

.suggested-box {
  margin-left: 20px;
}

.flex {
  display: flex
}

.follow-button {
  margin-left: 10px;
  border-radius: 20px;
}

body {
    background-color: white;
}

video {
    max-width: 270px;
    max-height: 480px;
    border-radius: 2%;
    width: 100%;
}


@media screen and (max-width: 576px) {
  .container {
    justify-content: center
  }

  .your-follows {
    display: none
  }

  .feed {
    max-width: 300px;
  }

  .suggested-box {
    display: none
  }


}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .top-five-users .flex .follow-button {
    margin-left: 0px;
  }

}