.container-user-page {
    width: 800px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.items-center {
    align-items: center;
    flex: 1;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.username-user-page {
    font-size: 40px;
}