<% if user_signed_in? %>
<h1>Hello <%= current_user.username %></h1>
<% end %>

<% @posts.each do |post|  %>
    <p><%= post.caption  %></p>
    <p><%= post.video_url  %></p>
    <% if post.video.attached? %>
        <%= cl_video_tag(post.video.key, :width => 300, :height => 300, 
        :preload => "none", :controls => true,
        :fallback_content => "Your browser does not support HTML5 video tags" ) %>
    <% end %>
<% end %>

